<!--フラッシュメッセージ-->
<%= flash[:notice] %>
<!--_new.html.erbへテンプレート化-->
<%= render 'books/new', book: @book, user: @user %>

<h2>Books</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
        <tr>
            <!--user showへのリンクが分からない-->
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <!---->
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
        </tr>
    </tbody>
    <% end %>
</table>