<h2>User info</h2>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </thead>
</table>


<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>



<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <td><%= link_to book.title, book_path(book.id)%></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
  <% end %>
</table>