<!--投稿成功のフラッシュメッセージ-->
<%= flash[:notice] %>

<!--_new.html.erbへテンプレート化-->
<%= render 'books/new', book: @book %>

<h2>Book detail</h2>
<table>
  <tbody>
      <tr>
        <!--UserのShowへのリンクが分からない-->
        <td><%= link_to @books.user.name %></td>
        <td><%= link_to @books.title, book_path(@books.id) %></td>
        <td><%= @books.body %></td>
        <td>
            <%= link_to "Edit", edit_book_path(@books.id) %>
        </td>
        <td>
          <% if @books.user == current_user %>
            <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>