<!--投稿成功のフラッシュメッセージ-->
<%= flash[:notice] %>

<!--_new.html.erbへテンプレート化-->
<%= render 'books/new', book: @book, user: @user%>

<h2>Book detail</h2>
<table>
  <tbody>
      <tr>
        <!--UserのShowへのリンクが分からない-->
          <td><%= image_tag @books.user.get_profile_image(100,100) %></td>
          <td><%= link_to @books.user.name %></td>
        <!---->
        <td><%= link_to @books.title, book_path(@books.id) %></td>
        <td><%= @books.body %></td>
        <td>
          <% if @books.user == current_user %>
            <%= link_to "Edit", edit_book_path(@books.id) %>
          <% end %>
        </td>
        <td>
          <% if @books.user == current_user %>
            <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>